section {
  margin-top: 85px;
  margin-left: 15px;
}

label {
  font-size: calc(20px + 0.4vw);
  padding-left: 1px;
}

.page-title { 
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.page-title-text {
  font-size: 3vw;
  font-weight: 550;

  background-image: linear-gradient(to left, #243a2b, #434745);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
}

/*Static values*/
.staticvalues {
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.static-box {
  margin-right: 2.4vw;
  float: left;
}

.static-box input {
  font-weight: 550;
  font-size: calc(12px + 0.3vw);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border: none;
  outline: none;
  padding: 0.4vw;
  width: 10vw;
  min-width: 180px;
  transition: .3s;
}

input:hover {
  box-shadow: 2px 2px .4vw 1px rgb(49, 79, 79, 0.5), 0 0 0 .15vw transparent;
}

input:focus {
  box-shadow: 2px 2px .4vw 1px rgb(56, 78, 78), 0 0 0 .15vw transparent;
}

/*Observation input*/
.observation {
 margin-bottom: 30px;
}

.input-box textarea{
  width: 98%;
  height: 8%;
  font-size: calc(12px + 0.3vw);
  font-weight: 550;
  outline: none;
  border: none;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
}

.input-box-small {
  margin-right: 180px;
  margin-bottom: 20px;

  display: inline-block;
}

.input-box-small textarea{
  width: 20vw;
  height: 40px;

  font-size: calc(12px + 0.3vw);
  font-weight: 550;

  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border: none;
  outline: none;
  padding: 0.4vw;
  transition: .3s;
}

.input-box-minimal textarea {
  width: 12vw;
  min-width: 140px;
  height: 35px;

  font-size: calc(12px + 0.3vw);
  font-weight: 550;
  
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border: none;
  outline: none;
  padding: 0.4vw;
  transition: .3s;
}

.input-box-minimal {
  margin-right: 50px;
  margin-bottom: 20px;

  display: inline-block;
}

.input-box-minimal label{
  font-size: calc(15px + 0.4vw);
}

textarea:hover {
  box-shadow: 2px 2px .4vw 1px rgb(49, 79, 79, 0.5), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

textarea:focus {
  box-shadow: 2px 2px .4vw 1px rgb(56, 78, 78), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

/* Save and upload buttons*/

.buttons {
  margin-top: 30px;
}