/* DECORATION CSS */
.cont_select_center {
 margin-bottom: 30px;
}

/* END DECORATION CSS */
.icon_select_mate {
  position: absolute;
  top: 9px;
  right: 2%;
  font-size: 22px;
  height: 22px;
  transition: all 275ms;
}

.classification {
  position: relative;
  float: left;
  width: 10.1vw;
  min-width: 165px;
  height: 40px;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: #fff;
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  text-align: center;
 /* Oculto el elemento select */
}

.classification select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}

.cont_select_int li {
  position: relative;
  float: left;
  width: 96%;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  background-color: rgb(231, 231, 231);
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
}

.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}

.cont_select_int li:hover {
  background-color: rgb(163, 163, 163);
  color: black;
}
.cont_select_int .active {
  background-color: rgb(196, 196, 196);
  color: black;
}

/* etiqueta <p> con la opcion selecionada */
.selecionado_opcion {
  padding: 10px 2%;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
}
