section {
  margin-top: 85px;
  margin-left: 15px;
}

label {
  font-size: 1.1vw;
  padding-left: 1px;
}

/*Static values*/
.staticvalues {
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
}

.static-box {
  margin-right: 2.4vw;
}

.static-box input {
  font-weight: 550;
  font-size: 0.85vw;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border: none;
  outline: none;
  padding: 0.4vw;
  width: 10vw;
  transition: .3s;
}

input:hover {
  box-shadow: 2px 2px .4vw 1px rgb(49, 79, 79, 0.5), 0 0 0 .15vw transparent;
}

input:focus {
  box-shadow: 2px 2px .4vw 1px rgb(56, 78, 78), 0 0 0 .15vw transparent;
}

/*Observation input*/
.observation {
 margin-bottom: 30px;
}

.input-box textarea{
  width: 80%;
  height: 8%;
  font-size: .9vw;
  font-weight: 550;
  outline: none;
  border: none;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
}

textarea:hover {
  box-shadow: 2px 2px .4vw 1px rgb(49, 79, 79, 0.5), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

textarea:focus {
  box-shadow: 2px 2px .4vw 1px rgb(56, 78, 78), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

.input-box-small {
  display: inline-block;
}
/*Active button for photo attatchment*/

.checkbox {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
}
#_checkbox {
  display: none;
 }
 
  .checkbox label {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #fc392b;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
 }
 
 .checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 24px;
  height: 23px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
 }
 
 .checkbox label:hover:before {
  transform: translateY(-50%) scale(1.1);
  box-shadow: inset 0 7px 10px #ff9d96;
  transition: 0.3s;
 }
 
 .checkbox label:active {
  transform: translateY(-50%) scale(0.9);
 }
 
 #tick_mark {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  width: 15px;
  height: 18px;
  margin: 0 auto;
  margin-left: 5px;
  transform: rotateZ(-40deg);
 }
 
 #tick_mark:before, #tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
 }
 
 #tick_mark:before {
  left: 0;
  bottom: 0;
  width: 4px;
  height: 10px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.23);
  transform: translateY(-68px)
 }
 
 #tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.23);
  transform: translateX(78px)
 }
 
 #_checkbox:checked + label {
  background-color: #07d410;
 }
 
 #_checkbox:checked + label:before {
  width: 0;
  height: 0;
 }
 
 #_checkbox:checked + label #tick_mark:before, #_checkbox:checked + label #tick_mark:after {
  transform: translate(0);
  opacity: 1;
 }