section {
  margin-top: 85px;
  margin-left: 15px;
}

label {
  font-size: 1.1vw;
  padding-left: 1px;
}

/*Static values*/
.staticvalues {
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
}

.static-box {
  margin-right: 2.4vw;
}

.static-box input {
  font-weight: 550;
  font-size: 0.85vw;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border: none;
  outline: none;
  padding: 0.2vw;
  width: 10vw;
  transition: .3s;
}

input:hover {
  box-shadow: 2px 2px .4vw 1px rgb(49, 79, 79, 0.5), 0 0 0 .15vw transparent;
}

input:focus {
  box-shadow: 2px 2px .4vw 1px rgb(56, 78, 78), 0 0 0 .15vw transparent;
}

/*Observation input*/
.observation {
 margin-bottom: 30px;
}

.input-box textarea{
  width: 75%;
  height: 15%;
  font-size: .8vw;
  outline: none;
  border: none;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px .2vw 1px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
}

textarea:hover {
  box-shadow: 2px 2px .4vw 1px rgb(49, 79, 79, 0.5), 0 0 0 .15vw transparent;
  transition: 0.3s;
}

textarea:focus {
  box-shadow: 2px 2px .4vw 1px rgb(56, 78, 78), 0 0 0 .15vw transparent;
  transition: 0.3s;
}