/* /// DECORATION CSS /// */
.cont_select_center {
 margin-bottom: 30px;
}

/* /// END DECORATION CSS /// */
.icon_select_mate {
  position: absolute;
  top: 9px;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}
.select_mate {
  position: relative;
  float: left;
  width: 12vw;
  height: 40px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  text-align: center;
 /* Oculto el elemento select */
}
.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}
.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}
.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}
.cont_select_int li {
  position: relative;
  float: left;
  width: 96%;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
}
.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.cont_select_int li:hover {
  background-color: #eee;
}
.cont_select_int .active {
  background-color: #eee;
}
/* etiqueta <p> con la opcion selecionada */
.selecionado_opcion {
  padding: 10px 2%;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
}
