.main-info {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 90%;
  height: 600px;
  top: 80px;
  left: 10%;
}

.info-box p{
  font-size: 2vw;
}

.pdf-veiwer {
  height: 600px;
  width: 600px;
}

/*Left navbar*/
.left-navbar {
  height: 100%;
  width: 10%;
  margin-top: 60px;
  background-color: rgba(47, 79, 79, 0.639);
  position: absolute;
  position: fixed;
}